<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>678884635945-qnenr8didk74eap44a8asg8e01u7277c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.678884635945-qnenr8didk74eap44a8asg8e01u7277c</string>
	<key>API_KEY</key>
	<string>AIzaSyBJChQXbklkVbVlYdnXuEEOYIYxfGpFJ_8</string>
	<key>GCM_SENDER_ID</key>
	<string>678884635945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wasselney</string>
	<key>PROJECT_ID</key>
	<string>wasselney</string>
	<key>STORAGE_BUCKET</key>
	<string>wasselney.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:678884635945:ios:4332ce2aa0c43c12987338</string>
</dict>
</plist>